<div class="container">
    <br>
    <hr/>
    <h3>Completed Trades:</h3>
    <br>
    <input type="number" step=1 min=1 placeholder="Trade ID" [(ngModel)]='tradeId'/>
    &nbsp;
    <button class="btn btn-success" (click)='searchTrades()'>Search</button>
    &nbsp;
    <button class="btn btn-success" (click)='listTrades()'>List All Trades</button>
    <div>Trade Search Results</div>
    <td>ID: {{searchedTrades.id}}</td>&nbsp;
    <td>Ticker: {{searchedTrades.stockTicker}}</td>&nbsp;
    <td>Price: {{searchedTrades.price}}</td>&nbsp;
    <td>State: {{searchedTrades.state}}</td>


    <br>
    
    <br>
    <table class="table table-dark">
         <thead>
            <tr>
                <th scope="col">Trade ID</th>
                <th scope="col">Stock Ticker</th>
                <th scope="col">Price</th>
                <th scope="col">Size</th>
                <th scope="col">Action</th>
                <th scope="col">Strategy ID</th>
                <th scope="col">State</th>
                <th scope="col">Profit/Loss</th>
            </tr>
         </thead>
        <tbody>
            <tr *ngFor="let item of model">
                <th scope="row">{{item.id}}</th>
                <td>{{item.stockTicker}}</td>
                <td>{{item.price}}</td>
                <td>{{item.size}}</td>
                <td>{{item.tradeType}}</td>
                <td>{{item.strategy.id}}</td>
                <td>{{item.state}}</td>
                <td>{{item.strategy.profit}}</td>
            </tr>
        </tbody>
    </table>
    <hr/>
</div>