<br>
<br>
<h2>Live Prices</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"><h3>Stock Ticker</h3></th>
      <th scope="col"><h3>Live Price</h3></th>
      <th scope="col"><h3>Lower Bands</h3></th>
      <th scope="col"><h3>Upper Bands</h3></th>

    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let price of prices">
        <th scope="row">{{price.stock.ticker}}</th>
        <td>{{price.price}}</td>
        <td>{{price.lowerBand}}</td>
        <td>{{price.upperBand}}</td>
        
        <th></th>
    </tr>
  </tbody>
</table>


<h3>Add New Strategy:</h3>
<!-- <select [(ngModel)] = 'ticker'>
  <option *ngFor = 'let item of stocks'></option>
</select> -->
<form>
  <div class="form-row">
      <label for="ticker">Enter Stock Ticker</label>
      <br><input id ="ticker" type="text" [(ngModel)]="ticker_name" name="ticker_name"/>
    </div>
  <div class="form-row">
    <label for="volume">Enter Volume</label>
    <input [(ngModel)]="size" class="form-control form-control-md" id="volume" name="size" type="number" placeholder="Volume"  step=10 />
  </div>
  <div class="form-row">
    <label for="lowerBand">Enter Lower Band</label>
    <input [(ngModel)]='lowerBand' class="form-control form-control-md" id="lowerBand" name="lowerBand" type="number" placeholder="Lower Band"  step=0.01 />
  </div>
  <div class="form-row">
    <label for="upperBand">Enter Upper Band</label>
    <input [(ngModel)]='upperBand' class="form-control form-control-md" id="upperBand" name="upperBand" type="number" placeholder="Upper Band"  step=0.01 />
  </div>
  <div class="form-row">
    <label for="exitPosition">Enter Exit Position</label>
    <input [(ngModel)]='exitProfitLoss' class="form-control form-control-md" id="exitPosition" name="exitProfitLoss" type="number" placeholder="Exit Position"  step=10 />
  </div>
  <br>
  <button (click)="handleClick()" class="btn btn-success">Start New Trade</button>

  <!-- <label for ="lowerBollinger"><strong> Lower Bollinger:</strong></label>
  <input type="number" name="1Lower" step = 0.01 value=item.lowerBand required/>&nbsp;
  
  <label for ="middleBollinger"><strong> Middle:</strong></label>
  <div type="fixed" [(ngModel)]='strategies[0].middle'>{{strategies[0].middle}}</div>&nbsp;
  
  <label for ="upperBollinger"><strong>Upper Bollinger:</strong></label>
  <input type="number" [(ngModel)]='strategies[0].upper' name="1Upper" value="" step= 0.01 placeholder="Upper" [ngModelOptions]="{standalone: true}" required/>&nbsp;
  
  <label for ="validationCustom04"><strong>Volume:</strong></label>
  <input class="form-control" type="number" name="1Volume" id="validationCustom04" value="" step= 50 placeholder="Volume"  required/>
  <div class="invalid-feedback">
      Please input a volume
    </div>
    
  <input type="submit" class="btn btn-success"> -->
</form>
<br>
<br>
<h3>Active Strategies</h3>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"><h3>Stock Ticker</h3></th>
      <th scope="col"><h3>Size</h3></th>
      <th scope="col"><h3>Exit Profit/Loss</h3></th>
      <th scope="col"><h3>Profit</h3></th>

    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let strategy of strategyStats">
        <th scope="row">{{strategy.stock.ticker}}</th>
        <td>{{strategy.size}}</td>
        <td>{{strategy.exitProfitLoss}}</td>
        <td>{{strategy.profit}}</td>
        
        <th></th>
    </tr>
  </tbody>
</table>
<br>




