    <br>
    <br>
    <hr/>
    <h1>Welcome to the Zeuss Trading Application</h1>
    <br>
    <div class="card-group">
    <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Bollinger Bands</h5>
          <p class="card-text">This strategy seeks to take advantage of volatility in a stock, expecting it to return to its
              established pattern. Take a moving average over some period (for example 20 days),
              and calculate the standard deviation for that period. If the price then hits some multiple
              of the standard deviation (2 std. devs. for example, 1.75, 2.2, etc.) on the low side, take
              it for undervalued, and go long; if it hits the that standard deviation multiple on the high
              side, short it. Again, exit a position at a percentage-based profit or loss threshold. </p>
          <a class="btn btn-success" routerLink ='/strategy'><h5>Active</h5></a>
        </div>
      </div>
    </div>
      &nbsp;
      
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Two Moving Averages</h5>
            <p class="card-text">This trading strategy seeks to take advantage of short-term trends in a stock’s price.
                Gather a “long average” of the market price (either the price as reported by Yahoo!, or
                the average of bid and ask if price is not available) – that is, a moving average over
                some defined period, say 4 hours. Also compute a “short average” over a period of more
                like 30 minutes. Continually updating these averages will allow you to observe trends in
                the averages themselves. </p>
            <a href="#" class="btn btn-warning">Coming Soon</a>
          </div>
        </div>
      
        &nbsp;
       
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Price Breakout</h5>
              <p class="card-text">This strategy is designed to take advantage of upcoming volatility. First, find the
                  “candlesticks” of a stock – open/close, high/low – over a series of fixed periods (for
                  example every 30 minutes). Watch for the high/low range to fit inside the previous
                  period’s open/close. If this occurs, and occurs repeatedly, the price range of the stock is
                  narrowing, and could be about to “break out.” After such a trend is identified, wait for the
                  breakout in the form of either high or low leaving the open/close range – it doesn’t really
                  matter which. This is your trigger: take a long position if the latest close is higher than
                  the open, short if lower. Again, exit at a certain profit or loss from your initial trading
                  price. </p>
                  <a href="#" class="btn btn-warning">Coming Soon</a>
            </div>
          </div>
          </div>
        
          <hr/>
   